/* ESTILOS NORMALES (para m�viles en vertical)
   ========================================================================= */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
  font-family: "dusan";
  src: url("../font/FIFA_World_Cup_2018.ttf");
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'dusan';
  padding: 0;
  margin: 0;
  height: 100%;

}

.container{
  background-image: url("../img/bg2.jpg");
  background-position: center center;
  background-repeat: repeat-y;

  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: 170px 60px auto auto auto 300px;
  grid-row-gap: 10px;
  grid-template-areas: 
  "head"
  "notf"
  "cont"
  "grop"
  "fixt"
  "foot"
}



.menuIcon{
  margin-left: 17px;
}


.flag{
  height: 36px;
  width: 50px;
  border-radius: 8px
}

.smflag{
  border-radius: 3px;
  width: 36px;
  height: 20px;
}


#header{
  grid-area: "head";
  align-self: center;
  justify-self: center;
}


#notification{
  background-color: rgba(19, 24, 49, 0.849);

  grid-area: "notif";
  font-family: "dusan";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.team-box div:nth-child(1), .team-box div:nth-child(3){
  font-family: "dusan";
  color: white;
  font-size: 1.7em;
  line-height: 36px;
  text-align: center;
  vertical-align: middle; 
}

.team-box div:nth-child(2){
  line-height: 36px;
  margin: 0 auto;
}

.team-box{
  width: 150px;
  grid-gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.team-box-sm{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.tleft{
  grid-template-columns: 1fr 1fr;
}

.team-box-sm div{
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 1.1em;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}

.selAlignLeft div{
  justify-self: right;
}

.team-box-wcontrol{
  text-align: center;
  grid-row-gap: 10px;
  color:white;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.control-team{
  font-size: 1.2em;
  line-height: 36px;
}

.control-points{
  font-size: 2em;
  line-height: 36px;
}

.last-result{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  align-self: center;
  justify-self: center;
}

.team-separator{
  vertical-align: middle;
  text-align: center;
}

.team-separator svg{
  height: 100%;
}


#content-wrap{
  grid-area: "cont";
}

.section-title{
 height: 36px;
 text-align: center;
 line-height: 36px;
 font-size: 1.6em;
 color: white;
 text-shadow: 2px 2px #3b3b3b;
 padding-bottom: 15px;
}

.groupsTitle{
  background-color: rgba(54, 8, 8, 0.658);
}

.playerTitle{
  background-color: rgba(24, 24, 29, 0.658);
}

.matchesTitle{
  background-color: rgba(22, 22, 66, 0.658);
}


#content{
  background-color: rgba(24, 24, 29, 0.658);
  padding: 8px;
  padding-top: 0;

  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(190px, 1fr));
  grid-template-rows: repeat( auto-fill, 1fr);
  grid-gap: 8px;
  padding-bottom: 15px;
}


.player{
  height: 100px;
  opacity: 1;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.player div{
  align-self: center;
  justify-self: center;
  font-family: "dusan";
  opacity: 1;
  color: white;
  font-size: 1.5em;
}

.player div:nth-child(2){
  grid-column-start: 2; grid-row-start: 2; font-size: 2em;
}



#groups-wrap{
  grid-area: "grop";
}

#groups{
  background-color: rgba(54, 8, 8, 0.658);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding-bottom: 15px;
}

.group-box{
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4) 10px,
    rgba(0, 0, 0, 0.6) 10px,
    rgba(0, 0, 0, 0.6) 20px
  );
  height: 200px;
  padding: 5px;
  padding-bottom: 20px;
}

.group-box-title{
  font-family: 'dusan';
  font-size: 2em;
  grid-column: 1 / -1;
}

.group-box-content{
  color: white;
  font-family: 'PT Sans', sans-serif;
  padding-bottom: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns:  0.1fr 4fr 1fr 1fr 1fr;
  grid-auto-rows: 3fr;
  height: 100%;
  
}

.group-box-content div:nth-child(n+2){
  border-bottom: white solid 1px;
}

#matches-wrap{
  grid-area: "fixt";
}

#matches{
  font-family: 'PT Sans', sans-serif;
  background-color: rgba(22, 22, 66, 0.658);
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: 30px;
  grid-gap: 10px;
  padding-bottom: 15px;
}

.match-box{
  font-size: 1.2em;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4) 10px,
    rgba(0, 0, 0, 0.6) 10px,
    rgba(0, 0, 0, 0.6) 20px
  );
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 0.01fr 2fr;
  grid-gap: 5px;
}

.match-box div{
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}

#footer{
  grid-area: "foot";
  background-color: rgba(100, 100, 100, 0.8);
}


.menu {
  left: calc(100% - 50px);
  height: 100%;
  position: fixed;
  width: 45vw;
  transition: left 0.5s;
  transition-timing-function: ease;
  /* background-color: rgba(51, 86, 151, 1); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px auto;
}

.menuOn{
  left:calc(100% - 45vw);
}


.menuHeader {
    color: white;
    grid-column: 1/-1;
    height: 50px;
    width: 100%;
    background-color: rgb(41, 66, 112);
    
    display: grid;
    align-items: center;
    justify-self: right;
    grid-template-columns: 50px 1fr;
    transition: justify-self 0.5s;
    transition-timing-function: ease;
}

.menuContent{
  height: 100%;
  grid-column: 2/-1;
  background-color: rgb(41, 66, 112);

  display: grid;

}

.menuContentItems{
  display: grid;
  grid-template-rows: repeat(auto-fit,50px);
  grid-gap: 10px;
}

.menuItem{
  color: white;
  background-color: rgb(36, 56, 94);
  font-size: 1.4em;
  text-align: left;
  line-height: 55px;
  padding-left: 20px;
}

#modal{
  visibility: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;

  background-image: url("../img/bg3.png");
  transition: visibility 0s, opacity 1s linear;
  opacity: 0;
  color: white;
}

#modal.signIn{
  background-color: rgb(36, 56, 94);
}

#modal.register{
  color: black;
  background-color: rgb(219, 219, 219);
}

#modal.register a{
  color: black;
}

#modal.show{
  opacity: 1;
  visibility: visible;
}

#modal div.content{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px repeat(3, auto) 250px;
}

#modal div.content div{
  grid-column: 2;
  font-size: 1.2em;
  text-align: center;
}

#modal div.content div:nth-child(1){
  font-family: "dusan";
  font-size: 2em;
  margin-top: 20px;
}


#modal div.content div input{
  font-family: "dusan";
  width: 100%;
  text-align: center;
  background-color: rgb(36, 56, 94);
  border: none;
  color: white;
  font-size: 1em;
  border-bottom: white solid 2px;
  line-height: 2em;
  margin-top: 5px;
  margin-bottom: 20px;
}

#modal.register div.content div input{
  color: black;
  border-bottom: black solid 2px;
  background: none;
}


#modal .sign{
  font-family: "dusan";
  background-color: rgb(36, 56, 94);
  color: white;
  font-size: 1em;
  line-height: 2em;
  border: white solid 2px;
  transition-duration: all 2s;
}

#modal.register .sign{
  font-family: "dusan";
  background: none;
  color: black;
  font-size: 1em;
  line-height: 2em;
  border: black solid 2px;
  transition-duration: all 2s;
}

#modal.register .sign:active{
  background-color: black;
  color: white;
}

#modal .sign:active{
  background-color: rgb(255, 255, 255);
  color: rgb(36, 56, 94); 
}

#modal input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-family: "dusan";
  opacity: 0.5; /* Firefox */
}

#modal.register input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(48, 48, 48);
}


a { color:white;text-decoration: none; } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:lightblue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:darkcyan }



#playerMatches-wrap{
  grid-area: "fixt";
}

#playerMatches{
  font-family: 'PT Sans', sans-serif;
  background-color: rgba(22, 22, 66, 0.658);
  display: grid;
  grid-auto-columns: auto;
  grid-gap: 10px;
  padding-bottom: 15px;
}

.playerMatchesItem{
  display: grid;
  grid-template-rows: 30px 1fr;
  background:repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4) 10px,
    rgba(0, 0, 0, 0.6) 10px,
    rgba(0, 0, 0, 0.6) 20px
  );
  padding-bottom: 10px;
  padding-top: 10px;
}

.playerMatchesItem > div:nth-child(1){
  color: white;
  text-align: center;
  font-size: 1.2em; 
}

.controls{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.playerMatchesItem-result{
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
  grid-gap: 2px;
  align-self: center;
  justify-self: center;
}


/* RESPONSIVE
   ========================================================================= */

/* M�viles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */

@media (min-width: 768px) {}

/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */

@media (min-width: 1024px) {}

/* Escritorios muy anchos
   ------------------------------------------------------------------------- */

@media (min-width: 1200px) {}