#modal {
    font-family: "Montserrat", sans-serif;
    visibility: hidden;
    position: absolute;
    top: 0px;
    opacity: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 50px auto;
    transition: all 0.1s;
    transition-timing-function: ease;
    overflow-y: auto;
}

#modal .menu {
    background-color: rgb(46, 94, 138);
    position: fixed;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-items: center;
    font-size: 1.4em;
    width: 100%;
    height: 50px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

#modal.showModal {
    transition: all 0.5s;
    transition-timing-function: ease;
    z-index: 10;
    opacity: 1;
    visibility: visible;
}

#modal .content {
    background-color: white;
    color: black;
}

#modal .users {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 48px;
}

#modal .users>div {
    display: grid;
    grid-template-columns: 50px 50px 50px auto;
    grid-auto-rows: 48px;
    align-items: center;
    justify-items: center;
}

#modal .users>div>div {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

#modal .users>div>div {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

#modal .users>div>div:active {
    font-size: 1.3em;
    background-color: lightgray;
}

#modal .users>div>div>svg {
    display: block;
    margin: 0 auto;
}

#modal .login {}

#modal .newLadderBoard {}

#modal .joinLadderBoard {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 48px;
}