.g-1g{
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7) 2px,
        rgba(0, 0, 0, 0.7) 2px,
        rgba(0, 0, 0, 0.7) 5px
      ),
      url("../img/flags/g-1g.jpg")  center center;
      background-size: cover;
      background-repeat: no-repeat;    
}

.g-1g:active{
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1) 2px,
        rgba(0, 0, 0, 0.1) 2px,
        rgba(0, 0, 0, 0.1) 5px
      ),
      url("../img/flags/g-1g.jpg")  center center;
      background-size: cover;
      background-repeat: no-repeat;    
}


.g-2g{
    background:repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7) 2px,
        rgba(0, 0, 0, 0.7) 2px,
        rgba(0, 0, 0, 0.7) 5px
      ),
      url("../img/flags/g-2g.jpg") center center;
      background-size: cover;
      background-repeat: no-repeat;
}