.question-wrap{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.showQuestion{
    display: block;
}

.question{
    position: absolute;
    background-color: white;
    height: 40vh;
    width: 100vw;
    top: calc(20vh);

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 50px auto 50px;
}

.question .title{
 background-color: steelblue;
 text-align: center;
 color: white;
 line-height: 50px;
 font-size: 1me;
}

.question .content{
    text-align: center;
    padding-top: 25px;
}

.question .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}


.question .buttons> button{
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.question .buttons> button{
    background-color: steelblue;
    color: white;
    padding: 5px;
    margin: 5px;
}

.question .buttons> button.accept{
    background-color: white;
    color: steelblue;
    border: steelblue solid 1px;
}

.question .buttons> button.accept:active{
    background-color: steelblue;
    color: white;
}

.question .buttons> button.cancel{
    background-color: white;
    color: tomato;
    border: tomato solid 1px;
}

.question .buttons> button.cancel:active{
    background-color: tomato;
    color: white;
}