.sideMenu-modal{
    visibility: hidden;
    background-color: black;
    position: fixed;
    opacity: 0;
    top: px;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-out;
}

.sideMenu-modal.show{
    visibility: hidden;
    opacity: 0.2;
}

.sideMenu-wrap{
      font-family: 'Roboto', sans-serif;
      visibility: hidden;
      position: fixed;
      background-color: white;
      top: -30vh;
      width: 100%;

      z-index: 99;
      transition: all 0.5s ease-out;
      box-shadow: 0 1px 8px rgba(0,0,0,.3);
}

.sideMenu-wrap.show{
    top:0;
    visibility: visible;
}

.sideMenu-content{
    height: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 50px;
}

.sideMenu-content > div{
    width: 100%;
    border-bottom: rgba(0,0,0,.09) 1px solid;
    text-align: center;
    line-height: 50px;
    transition: all 0.1s ease-out;
}

.sideMenu-content > div:active{
    background-color: rgba(0,0,0,.2);
}



